html {
    height: 100%;
    width: 100%;
}

body {
    margin:0;
    height: 100%;
    width: 100%;

    color: #000000;
    font-family: Nexus Sans, Geneva, sans-serif;
}

header {
    height: 8.5%;
    width: 100%;
    
    background: #ffffff;
}

#logo_container {
    display: grid;
    grid-template-columns: 65% 30%;

    margin-left: 10%;
    
    height: 94%;
    width: 90%;

    overflow: hidden;
}

#logo_container h1{
    overflow: hidden;
    margin-left: 1vw;
    padding: 1vh 1vw;

    font-size: 2.5vh;
    font-weight: 300;
}

#logo_container img {
    height: 100%;
    max-width: 15vh;
}

#colored_bar {
    display: block;
    height: 6%;
    width: 100%;

    background: #ddd;
}

#navigation_container {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    height: 3%;
    width: 100%;

    background: #003366;
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.15);
}

#navigation_container ul {
    margin: 0% 10%;
    padding: 0;

    height: 100%;
    width: 80%;
    overflow: hidden;
}

#navigation_container li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-left: 1vw;

    height: 100%;
    width: auto;
}

#navigation_container a, a:visited {
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;

    padding: 0.8vh 1.1vw;

    height: 100%;
    width: 100%;

    font-size: 1.2vh;
    text-decoration: none;
    text-transform: uppercase;
    
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

#navigation_container a:hover {
    background: #FFFBEB;
    color: #000000;
    border-bottom: 2px solid #FFDA33;
}


main {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 35vh 35vh;

    padding: 0 10%;

    height: 150%;
    width: 80%;

    background: #ffffff;
}

.card {
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;

    margin: 2vh 1vw;
    
    height: auto;
    width: auto;
    
    background: #ffffff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
    border-bottom: 3px solid #FFDA33;
}

.narrow_content {
    grid-column: 1 / 2;
    padding: 2vh 3vw;
    background: #FFFBEB;
}

.narrow_content h2 {
    max-width: 100%;
    max-height: 40%;

    font-size: 2.5vh;
    color: #000000;
}

.narrow_content p {
    max-width: 100%;
    max-height: 60%;

    font-size: 1.65vh;
    color: #000000;
}

.wide_content {
    grid-column: 2 / span 3;
    padding: 2vh 2vw;
}

#chartContainer {
    height: 95%;
    width: auto;
}

#countrySelector {
    margin-left: 40%;
    margin-top: 1vh;
    height: auto;
    width: 60%;
    border: 0 solid transparent;
    border-color: #ffffff;
}